body{
    margin:0;
}

header{
    background:black;
    height:80px;
    position:relative;
}

/* logo container */
.logo{
    position:absolute;
    left:20px;
    top:-25px;   /* makes it stick up above header */
}

/* both images same size */
.logo img{
    height:110px;
    position:absolute;
}